<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/producto.css">
    <title>Supervisor</title>
</head>
<body>
    <div class="container">
        <!-- Navbar -->
        <nav class="navbar">
            <img src="/img/Trost_blanco.png" alt="Logo" class="logo">
        </nav>


        <!-- Modal para confirmar la contraseña -->
        <div class="modal" id="modalConfirmarContrasena">
            <div class="modal-content">
                <h3>Confirmar Eliminación</h3>
                <p>ingresa tu contraseña para la eliminación del Registro:</p>
                <input type="password" id="inputContrasena" class="modal-input" placeholder="Contraseña">
                <div class="modal-buttons">
                    <button class="modal-button modal-button-cancel" id="cancelarEliminacion">Cancelar</button>
                    <button class="modal-button modal-button-confirm" id="confirmarEliminacion">Confirmar</button>
                </div>
            </div>
        </div>

        <!-- Contenido principal -->
        <div class="content-segundario">
            <div class="escrito">
                <h2 class="h2">Registro de Producto</h2>
                <div class="cont-segun-list">
                    <!-- Formulario -->
                    <div class="cont-segun-list-for">
                        <input type="text" class="input" id="usuario" placeholder="usuario" disabled>
                        <input type="text" class="input" id="bodega" placeholder="Bodega" disabled>
                        <select class="desple" id="bodega">
                            <option value="">Bodega a pasar</option>
                            <option value="Corte">Corte</option>
                            <option value="Inyección">Inyección</option>
                            <option value="Preparada">Preparada</option>
                            <option value="Montaje">Montaje</option>
                            <option value="Terminada">Terminada</option>
                        </select>
                        <select class="desple" id="rol">
                            <option value="">Tipo de Movimiento</option>
                            <option value="En proceso">Proceso</option>
                            <option value="Enviado">Enviado</option>
                        </select>
                        <div class="cont-segun-list-bot">
                            <button type="submit" class="button">Mover </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tabla -->
            <div class="cont-segun-formu">
                <div class="table-header">Productos registrados</div>
                <div class="table-row1">
                    <span>Codigo</span>
                    <span>Talla</span>
                    <span>Bodega</span>
                    <span>Cantidad</span>
                    <span>fecha</span>
                    <span>Accion</span>
                </div>
                <!-- Dynamic rows will be added here -->
            </div>
        </div>
    </div>
    <script src="/js/producto.js"></script>
</body>
</html> 