<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/modificar.bodegas.css">
    <title>Modificar-Bodegas</title>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <img src="/img/Trost_blanco.png" alt="Logo" class="logo">
        </nav>

        <div class="content-segundario">
            <div class="escrito">
                <h2 class="h2">Modificar Bodegas</h2>
                <div class="cont-segun-list">
                    <div class="cont-segun-list-for">
                        <input type="hidden" id="idBodega">
                        <input type="text" class="input" id="nombre" placeholder="Nombre de Bodega">
                        <input type="number" class="input" id="capacidad" placeholder="Capacidad de Bodega" min="1">
                        <select class="input" id="estado">
                            <option value="ACTIVA">Activa</option>
                            <option value="INACTIVA">Inactiva</option>
                        </select>
                        <div class="cont-segun-list-bot">
                            <button class="button" id="guardar">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/modificar.bodegas.js"></script>
</body>
</html>