<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/historial.css">
    <title>Usuario</title>
</head>
<body>
    <div class="container">
        <!-- Navbar -->
        <nav class="navbar">
            <img src="/img/Trost_blanco.png" alt="Logo" class="logo">
            <div class="navbar-options">
                <select class="select" id="adminUsuario">
                    <option>Admin-usuario</option>
                    <option value="/usuario">Crear usuarios</option>
                </select>
                <select class="select" id="bodegas">
                    <option>Bodegas</option>
                    <option value="/crear_bodega">Crear Bodegas</option>
                    <option value="/seguimiento">Seguimiento Bodega</option>
                </select>
                <select class="select" id="historial">
                    <option>Historial</option>
                    <option value="/historial">Lista de Historial</option>
                    <option value="/logistica">Producto en Logistica</option>
                </select>
            </div>
        </nav>

        <!-- Contenido principal -->
        <div class="content-segundario">
            <!-- Tabla -->
            <div class="cont-segun-formu">
                <div class="table-header">Filtros</div>

                <div class="filtros">
                    <select class="desple" id="filtroBodega">
                        <option value="">Seleccione la Bodega</option>
                        <option value="1">Corte</option>
                        <option value="2">Inyeccion</option>
                        <option value="3">Preparada</option>
                        <option value="4">Montaje</option>
                        <option value="5">Terminada</option>
                        <option value="6">Vulcanizado</option>
                        <option value="8">Logistica</option>
                    </select>
                    <input type="date" class="date" id="filtroFechaInicio" placeholder="Fecha Inicio">
                    <input type="date" class="date" id="filtroFechaFin" placeholder="Fecha Fin">
                    <button type="button" class="export" id="aplicarFiltros">Aplicar Filtros</button>
                    <button type="button" class="export" id="exportarExcel">Exportar Datos a Excel</button>
                </div>

                <div class="table-row1-1">
                    <span>Historial De Bodegas</span>
                </div>

                <div class="table-row1">
                    <span>Nombre</span>
                    <span>Producto SKU</span>
                    <span>Bodega</span>
                    <span>Bodega-entregada</span>
                    <span>Cantidad</span>
                    <span>Tipo</span>
                    <span>Fecha</span>
                </div>
                <!-- Contenedor dinámico para filas -->
                <div id="historialRows"></div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <script src="/js/historial.js"></script>
</body>
</html>