<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/crear.usuario.css">
    <title>Usuario</title>
</head>

<body>
    <div class="container">
        <!-- Navbar -->
        <nav class="navbar">
            <img src="/img/Trost_blanco.png" alt="Logo" class="logo">
            <div class="navbar-options">
                <select class="select" id="adminUsuario">
                    <option>Admin-usuario</option>
                    <option value="/usuario">Crear usuarios</option>
                </select>
                <select class="select" id="bodegas">
                    <option>Bodegas</option>
                    <option value="/crear_bodega">Crear Bodegas</option>
                    <option value="#">Seguimiento Bodega</option>
                </select>
                <select class="select" id="historial">
                    <option>Historial</option>
                    <option value="/historial">Lista de Historial</option>
                </select>
                <div class="notification">
                    <div class="bell-container">
                        <button class="bell" aria-label="Ver alertas">
                        </button>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Contenido principal -->
        <div class="content-segundario">
            <div class="escrito">
                <h2 class="h2">Crear Usuario</h2>
                <div class="cont-segun-list">
                    <!-- Formulario -->
                    <div class="cont-segun-list-for">
                        <input type="text" class="input" id="nombreUsuario" placeholder="Nombre de usuario">
                        <input type="password" class="input" id="contrasena" placeholder="ingrese la contraseña">
                        <input type="text" class="input" id="descripcion" placeholder="Descripción">
                        <select class="desple" id="bodega">
                            <option value="">Bodega</option>
                            <option value="Corte">Corte</option>
                            <option value="Inyección">Inyeccion</option>        
                            <option value="Preparada">Preparada</option>
                            <option value="Montaje">Montaje</option>
                            <option value="Terminada">Terminada</option>
                            <option value="Vulcanizado">Vulcanizado</option>        
                        </select>
                        <select class="desple" id="rol">
                            <option value="">Rol</option>
                            <option value="Supervisor">Supervisor</option>
                            <option value="Operario">Operario</option>
                        </select>
                        <div class="cont-segun-list-bot">
                            <button type="submit" class="button">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tabla -->
            <div class="cont-segun-formu">
                <div class="table-header">Lista de Usuarios</div>
                <div class="table-row1">
                    <span>Nombre</span>
                    <span>Rol</span>
                    <span>Bodega</span>
                    <span>Accion</span>
                </div>
                <!-- Dynamic rows will be added here -->
            </div>
        </div>
    </div>
    <script src="/js/crear.usuarios.js"></script>
</body>

</html>