/* Estilos existentes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Corbel';
}

@font-face {
  font-family: 'Corbel';
  src: url(../font/CORBEL.TTF);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #b1b6b1;
}

.navbar {
  width: 100%;
  height: 10%;
  background-color: #13302E;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 150px;
  height: auto;
}

.navbar-options {
  display: flex;
  align-items: center;
  gap: 20px;
}

.select {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #000000;
  color: #E0FF00;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  font-size: 14px;
  margin: 50px;
}

/* From Uiverse.io by 3bdel3ziz-T */ 
/*making bell shape with one div */
.bell {
  border: 2.17px solid white;
  border-radius: 10px 10px 0 0;
  width: 15px;
  height: 17px;
  background: transparent;
  display: block;
  position: relative;
  top: -3px;
}
.bell::before,
.bell::after {
  content: "";
  background: white;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2.17px;
}
.bell::before {
  top: 100%;
  width: 20px;
}
.bell::after {
  top: calc(100% + 4px);
  width: 7px;
}
/*container main styling*/
.notification {
  background: transparent;
  border: none;
  padding: 15px 15px;
  border-radius: 50px;
  cursor: pointer;
  transition: 300ms;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*notifications number with before*/
.notification::before {
  content: "1";
  color: white;
  font-size: 10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
/*container background hover effect*/
.notification:hover {
  background: rgba(170, 170, 170, 0.062);
}
/*container animations*/
.notification:hover > .bell-container {
  animation: bell-animation 650ms ease-out 0s 1 normal both;
}
/*bell ring and scale animation*/
@keyframes bell-animation {
  20% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-15deg);
    scale: 1.1;
  }
  60% {
    transform: rotate(10deg);
    scale: 1.1;
  }
  80% {
    transform: rotate(-10deg);
  }
  0%,
  100% {
    transform: rotate(0deg);
  }
}


.content-segundario {
  background-color: #383737;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.escrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.h2 {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

/* Formulario */
.cont-segun-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cont-segun-list-for {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%; /* Ocupa todo el ancho disponible */
}

.input, .desple {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-size: 14px;
}

.cont-segun-list-bot {
  display: flex;
  justify-content: center; /* Centra el botón */
  margin-top: 10px; /* Espacio entre el formulario y el botón */
}

.button {
  width: 150px;
  height: 40px;
  background-color: #13302E;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.button:hover {
  background-color: #1a403d;
}

/* Tabla */
.cont-segun-formu {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 15px;
  color: #000000;
  max-height: 500px; /* Ajusta esta altura según tus necesidades */
  overflow-y: auto;
}


.cont-segun-formu::-webkit-scrollbar {
  width: 8px;
}

.cont-segun-formu::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.cont-segun-formu::-webkit-scrollbar-thumb {
  background: #13302E;
  border-radius: 4px;
}

.cont-segun-formu::-webkit-scrollbar-thumb:hover {
  background: #1a403d;
}

.table-header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff;
}

.table-row1, .table-row2 {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.activo {
    color: green;
    font-weight: bold;
}

.table-row1 {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.borrar, .editar{
  width: 25px;
  cursor: pointer;
  transition: transform 0.2s;
}

.borrar:hover, .editar:hover {
  transform: scale(1.2);
}